@using Todoist.BusinessLogic.DTOs.Board;
@using Todoist.BusinessLogic.DTOs.TodoTask;
@using Todoist.Helpers.Extensions;
@using Todoist.Controllers;
@model BoardWithTasksDTO

@section Header 
{
    <a class="ms-3 link-primary" href="@Url.ActionLink("All", "Board")">to all boards</a>
    <span class="ms-3">Board name: @Model.Name</span>
}

<div class="tasks d-flex justify-content-center flex-column mt-5 mx-auto" style="width: 400px;">
    <h3 class="fw-bold">Tasks</h3>
    <div class="tasks__content">
        @foreach (var task in Model.Tasks)
        {
            await Html.RenderPartialAsync("_TaskItemPartial", task);
        }
    </div>
    <div class="bg-light p-2 d-flex">
        <div class="flex-row">
            <input class="form-control me-1" name="name" type="text" placeholder="task name" />
            <input class="form-control" name="description" type="datetime" placeholder="description" />
        </div>
        <div class="flex-row">
            <input class="form-control" name="datatime" type="text" placeholder="closing date" />
            <div class="btn btn-primary w-100 create-btn">Create new task</div>
        </div>
    </div>
    <div class="create-error"></div>
</div>

@section Scripts {
    <script type="module">
        import init from "/js/senders/task.js";

        @{
            var createActionLink = Url.ActionLink<TodoTaskController>(nameof(TodoTaskController.Create));
            var removeActionLink = Url.ActionLink<TodoTaskController>(nameof(TodoTaskController.Remove));
            var editActionLink = Url.ActionLink<TodoTaskController>(nameof(TodoTaskController.Edit));
        }

        init({
            createLink: "@createActionLink",
            removeLink: "@removeActionLink",
            editLink: "@editActionLink",
            boardId: @Model.Id
        });
    </script>
}